
.fw-700{
    font-weight: var(--fw-700);
}
.fw-500{
    font-weight: var(--fw-500);
}

.fw-400{
    font-weight: var(--fw-400);
}

.thin-text{
    color: var(--text-color);
}

.white-text{
    color: var(--bold-color);
}