:root{
    --bg-color:#FF7978;
    --bg-button:#5D54A3;
    --bg-submit:#37CC8A;
    --bold-color:#FFF6F5;
    --text-color:#FFE6E4;
    --ff:'Poppins', sans-serif;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:link, a:visited{
    text-decoration: none;
}

html{
    font-family: var(--ff);
}